.hidden {
    display: none;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.text-color-white{
    color : white;
}
.text-shadow{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.text-size-60{
    font-size : 60px;
}
.text-size-20{
    font-size : 20px;
}
.text-align-center {
    text-align:center;
}
.text-bold{
    font-weight: bold;
}
.contentBox{
    display:table;
    table-layout:fixed;
    width:100%;
    height:200px;
  }
.listBox{
    width: 200px;
    margin : auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.contentBox_center{
    width: 250px;
    margin : auto;
}
.bottomBox{
    position:absolute;
    bottom:0px;
}



.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 0rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}